<

<div class="container">
  <h2 class="text-center">Equipo {{data.idEquipo.name}}<strong></strong></h2>
</div>
<div class="container">
  <form
    class="row g-3 d-flex p-2"
    action="/form"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="col-md-3">
      <label for="nombre" class="form-label textoB">Nombre del Equipo</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Arsenal FC"
        value="{{data.idEquipo.name}}"
        disabled
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-abreviado" class="form-label textoB">Abreviacion</label>
      <input
        type="text"
        class="form-control"
        id="nombre-abreviado"
        placeholder="Arsenal"
        value="{{data.idEquipo.shortName}}"
        disabled
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-acronimo" class="form-label textoB">Acronimo </label>
      <input
        type="text"
        class="form-control"
        id="nombre-acronimo"
        placeholder="ARS"
        value="{{data.idEquipo.tla}}"
        disabled
      />
    </div>
    <div class="col-md-5">
      <label for="input-email" class="form-label textoB">Email</label>
      <input
        type="email"
        class="form-control"
        id="input-email"
        placeholder="arsenalTop16@gmail.com"
        value="{{data.idEquipo.email}}"
        disabled
      />
    </div>
    <div class="col-3">
      <label for="input-direccion" class="form-label textoB">Pais</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        placeholder="Inglaterra"
        value="{{data.idEquipo.area.name}}"
        disabled
      />
    </div>
    <div class="col-3">
      <label for="input-telefono" class="form-label textoB">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="input-telefono"
        placeholder="+264123456"
        value="{{data.idEquipo.phone}}"
        disabled
      />
    </div>
    <div class="col-6">
      <label for="input-pagina" class="form-label textoB">Pagina web</label>
      <input
        type="text"
        class="form-control"
        id="input-pagina"
        placeholder="http://www.arsenal.com"
        value="{{data.idEquipo.website}}"
        disabled
      />
    </div>
    <div class="col-3">
      <label for="input-fundacion" class="form-label textoB">Año de fundacion</label>
      <input
        type="text"
        class="form-control"
        id="input-fundacion"
        placeholder="1887"
        value="{{data.idEquipo.founded}}"
        disabled
      />
    </div>
    <div class="col-2">
      <label for="input-primer-color" class="form-label textoB">Color</label>
      <input
        type="text"
        class="form-control"
        id="input-colores"
        placeholder="Azul / Rojo"
        value="{{data.idEquipo.clubColors}}"
        disabled
      />
    </div>
    <div class="col-7">
      <label for="input-estadio" class="form-label textoB">Estadio</label>
      <input
        type="text"
        class="form-control"
        id="input-estadio"
        placeholder="El Monumental"
        value="{{data.idEquipo.venue}}"
        disabled
      />
    </div>
    <div class="col-5">
      <label for="input-direccion" class="form-label textoB">Direccion</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        placeholder="Avenida siempre viva"
        value="{{data.idEquipo.address}}"
        disabled
      />
    </div>
    {{#if data.idEquipo.crestUrl}}
      <div class="col-6">
        <img
          class="rounded mx-auto d-block"
          src="{{data.idEquipo.crestUrl}}"
          alt="Imagen del escudo de {{data.idEquipo.name}} archivo"
        />
      </div>
    {{else}}
      <div class="col-6">
        <img
          class="rounded mx-auto d-block"
          src="{{data.idEquipo.crestLocal}}"
          alt="Imagen del escudo de {{data.idEquipo.name}} local"
        />
      </div>
    {{/if}}

  </form>
  <tbody>
          <td>
        <div class="btn-group col-md-12 bg-light text-right   " role="group" aria-label="Basic outlined example">
          <a href="/" class="btn btn-danger justify-content-end">Volver</a>
          <a
            href="/editar/{{data.idEquipo.tla}}"
            class="btn btn-danger justify-content-end"
          >Editar</a>
          <a
            href="/eliminar/{{item.tla}}"
            class="btn btn-warning justify-content-end"
          >Eliminar</a>
        </div>
      </td>
  </tbody>
  
</div>
 <table class="table table-secondary">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Posicion</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Pais de nacimiento</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody id="lista-principal">
      {{>jugadores items=data.jugadoresEquipo}}

    </tbody>
  </table>